* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  background-color: black;
  color: white;
  font-family: sans-serif;
}
.main_container {
  margin: 0 auto;
  max-width: 1200px;
  min-width: 360px;
  padding: 0 2rem;
  max-width: 920px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
/* Heder section */

header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
header img {
  width: 6rem;
  border-radius: 50%;
  transition: 2s;
}
h2 {
  font-size: 4rem;
}

.search_div {
  width: 100%;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
/* **********Search by generation section********* */
.search_btn {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1rem;
}
.search_btn button {
  padding: 0.5rem;
  width: 4rem;
  border-radius: 0.5rem;
  transition: background-color 750ms;
  background-color: #808080;
  box-shadow: 1px 1px 10px #808080;
}
.search_btn button:hover {
  background-color: #adff2f;
}
/* **********Search by type section********** */
label img {
  width: 2rem;
}
.search_type {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
.search_type_form {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}
.search_type_form div {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

/* *************Search by name Section*********** */
.search_name {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}
.search_name input {
  width: 15rem;
  height: 2rem;
  box-shadow: none;
  border-radius: 0.5rem;
  border: none;
  background-color: rgba(128, 128, 128, 0.459);
}

/* *************Wellcome div**************** */
.welcome_div {
  padding: 2rem;
}
.welcome_instraction {
  margin-top: 2rem;
  display: grid;
  gap: 1rem;
  grid-template-areas:
    "a b b"
    "a c c";
}
.wel_img {
  grid-area: a;
  width: 10rem;
  animation: jumping 10000ms;
  animation-iteration-count: infinite;
}
.wel_tex1 {
  grid-area: b;
  align-self: center;
  text-align: justify;
}
.wel_txt2 {
  grid-area: c;
  align-self: center;
}
h1 {
  text-align: center;
  font-size: 6rem;
  text-shadow: 5px 5px 10px gray;
  font-family: "Courier New", Courier, monospace;
  animation: shadow_color_change 4s;
  animation-iteration-count: infinite;
}

@keyframes shadow_color_change {
  0% {
    text-shadow: 5px 5px 10px #808080;
  }
  50% {
    text-shadow: 5px 5px 10px greenyellow;
  }
  100% {
    text-shadow: 5px 5px 10px #808080;
  }
}

/* ********** Pokemon card section **************/
.poke_container {
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  gap: 2rem;
}
.cards {
  background-color: #80808062;
  box-shadow: -5px 5px 10px gray;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  gap: 0.5rem;
  transition: 2s;
  padding: 1rem;
  position: relative;
  transition: transform 500ms;
}
.cards:hover {
  transform: scale(1.1);
}

.poke_gen {
  padding: 0.5rem;
  position: absolute;
  top: 7px;
  right: 7px;
  border: 0.025rem solid white;
  border-radius: 50%;
}
.poke_img {
  width: 100%;
}
.poke_img:hover {
  z-index: 100;
  transform: scale(1.5);
  animation: jumping 150ms;
  animation-iteration-count: 10;
}

@keyframes jumping {
  0% {
    transform: translateX(0%);
  }
  20% {
    transform: translateY(10%);
  }
  40% {
    transform: translateX(-10%);
  }
  60% {
    transform: translateY(-10%);
  }
  80% {
    transform: translateX(10%);
  }
  100% {
    transform: translateY(0%);
  }
}
.poke_identity {
  padding: 0.5rem;
  border-top: 0.025rem solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
}
.poke_name {
  font-size: 1.5rem;
}
.poke_type {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

.poke_type img {
  width: 1.5rem;
}

/* Responsiveness */
@media (max-width: 600px) {
  .main_container {
    padding: 0.5rem;
    width: 90vw;
  }
  h2 {
    font-size: 3rem;
  }
  h1 {
    font-size: 4rem;
  }
  .search_btn {
    justify-content: center;
  }
  .poke_container {
    grid-template-columns: 1fr;
  }
  .poke_img:hover {
    transform: scale(1.1);
  }
}

/* go to top btn */
#go_to_top {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  background-color: yellow;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  transition: visibility 1s;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  color: black;
}
